@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url("assets/fonts/SF-Pro-Display-Regular.ttf");
}

div .form-label {
  @apply block text-sm font-medium;
}
div .form-input {
  @apply w-96 pt-2 px-3 pb-1 bg-light-gray rounded border-4 border-light-gray focus:outline-booking-primary;
}