<template>
  <footer class="bg-white">
    <div
      class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8"
    >
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div>
          <div>
           <Branding/>
          </div>
          <p class=" max-w-xs footer-links">
            Your next goto companion for
            <br> 
            travel
          </p>
        </div>
        <div
          class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-4"
        >
          <div>
            <p class="footer-headers">Company</p>

            <ul class="mt-6 space-y-4">
              <li>
                <a href="#" class="footer-links">
                  About
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  Job
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  Newsroom
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  Advertising
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
          <div>
            <p class="footer-headers">Explore</p>

            <ul class="mt-6 space-y-4">
              <li>
                <a href="#" class="footer-links">
                  Australia
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  New Zealand
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  United States America (USA)
                </a>
              </li>
              <li>
                <a href="#" class="footer-links">
                  Greece
                </a>
              </li>
              <li>
                <a href="#" class="footer-links">
                  Maldives
                </a>
              </li>
              <li>
                <a href="#" class="footer-links">
                  Singapore
                </a>
              </li>
              <li>
                <a href="#" class="text-sm text-booking-primary font-normal font-Primary ">
                  See more
                </a>
              </li>
            </ul>
          </div>

          <div>
            <p class="footer-headers">Terms and Policies</p>

            <ul class="mt-6 space-y-4">
              <li>
                <a href="#" class="footer-links">
                  Privacy Policy
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  Terms of use
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  Acessibility
                </a>
              </li>
              <li>
                <a href="#" class="footer-links">
                  Reward system policy
                </a>
              </li>
            </ul>
          </div>

          <div>
            <p class="footer-headers">Help</p>

            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="#" class="footer-links">
                  Support
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  Cancel your bookings
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  Use Coupon
                </a>
              </li>

              <li>
                <a href="#" class="footer-links">
                  Refund Policies
                </a>
              </li>
              <li>
                <a href="#" class="footer-links">
                  International Travel Documents
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full h-10 flex justify-end bg-medium-gray">
      <p class="text-xs text-footer-gray py-3 pr-40">
        &copy; my Dream Place 2023
      </p>
    </div>
  </footer>
</template>

<script setup>
import Branding from './Branding.vue';
</script>

<style scoped>
.footer-headers{
  @apply text-black text-base font-medium font-Primary
}
.footer-links{
  @apply text-footer-gray text-sm font-normal font-Primary
}
</style>