<template>
  <button class="btn btn-primary mr-4">
    <slot></slot>
  </button>
</template>

<style scoped>
.btn {
  @apply px-5 py-3 shadow-sm transition ease-in-out duration-300 rounded-md leading-snug whitespace-nowrap text-sm text-center font-Primary outline-none;
}
.btn.btn-sm {
  @apply w-20 h-10 px-4 py-1;
}
.btn.btn-md{
  @apply py-2 px-4 w-32;
}
.btn.btn-lg {
  @apply py-2 px-5 w-96 h-11;
}
.btn-primary {
  @apply text-white text-center bg-booking-primary hover:bg-blue-600 hover:border-blue-600 border-4  border-booking-primary;
}
</style>