<template>
  <div class="flex items-center py-5 space-x-1 mt-1">
    <img alt="logo" src="/icons/plane-icon.svg" />
    <span class="text-lg text-dark-gray font-Primary font-medium">
      my Dream Place
    </span>
  </div>
</template>

<script setup></script>

<style scoped></style>