<template>
  <section
    class="container bg-covid-warning mt-40 rounded-lg h-16 text-center flex justify-center items-center"
  >
    <p>
      Check the latest COVID-19 restrictions before you travel.
      <span class="text-booking-primary">Learn more</span>
    </p>
  </section>
</template>

<script setup></script>

<style scoped></style>
