<template>
  <section
    class="relative container overflow-hidden rounded-xl bg-no-repeat text-center"
  >
    <img src="/images/hero.svg" alt="hero" />
    <div
      class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
    >
      <div class="flex h-full items-center justify-center">
        <div class="text-white">
          <h2 class="mb-4 text-3xl font-bold">Enjoy Your Dream Vacation</h2>
          <h4 class="mb-6 text-xl font-light">
            Plan and book our perfect trip with expert advice, travel tips, destination 
            <br>
            information and inspiration from us
          </h4>
        </div>
      </div>
    </div>
  </section>
  <Search/>
</template>

<script setup>
import Search from './Search.vue';
</script>

<style scoped></style>
