<template>
  <header>
    <Navbar/>
  </header>
  <main>
    <HeroSection/>
    <CovidSection/>
  </main>
  <footer>
    <BaseFooter/>
  </footer>
</template>

<script setup>
import Navbar from './Navbar.vue';
import HeroSection from './HeroSection.vue';
import BaseFooter from './BaseFooter.vue';
import CovidSection from './CovidSection.vue';

</script>

<style scoped>

</style>