<template>
  <nav class="container bg-booking-background mx-0 my-auto">
    <section>
      <div class="max-w-7xl mx-auto">
        <div class="flex justify-between">
          <section class="flex space-x-56">
            <!-- Logo -->
            <Branding/>
            <!-- Menu  -->
            <div class="hidden md:flex items-center space-x-8 mt-2">
              <a class="nav-item" href="/">Home</a>
              <a class="nav-item" href="/">Discover</a>
              <a class="nav-item" href="/">Activities</a>
              <a class="nav-item" href="/">About</a>
              <a class="nav-item" href="/">Contact</a>
            </div>
          </section>
          <div
            v-if="isLoggedIn"
            class="flex items-center my-auto space-x-6 ml-56"
          >
            <img src="/icons/notification-icon.svg" alt="notification icon" />
            <img
              src="/icons/profile-icon.svg"
              alt="profile icon"
              class="w-11 h-11 rounded-full"
            />
          </div>
          <div
            v-else
            class="flex items-center my-auto py-5 px-2"
          >
          <router-link :to="{name :'login'}">
            <BaseButton class="btn-sm">Login</BaseButton>
          </router-link>
          </div>
        </div>
      </div>
    </section>
  </nav>
</template>

<script setup>
import { ref } from "vue";
import BaseButton from "./BaseButton.vue";
import Branding from "./branding.vue";

const isLoggedIn = ref(false);
</script>

<style scoped>
div .nav-item {
  @apply py-5 px-2 text-base text-dark-gray hover:font-semibold;
}
</style>
