
<template>
  <section class="search-position search-style">
    <section class="grid grid-cols-1 gap-1 relative">
      <div>
        <select
          name="destination"
          id="destination"
          placeholder="where are you going?"
          class="serach-items ml-2 left-2 mt-4"
        >
          <option class="options" selected disabled>
            Where are you going?
          </option>
        </select>
        <div class="item-icon ps-6">
          <img
            src="/icons/location-icon.svg"
            alt="location-icon"
            class="w-5 h-5"
          />
        </div>
      </div>
      <div class="max-w-sm">
         <div class="item-icon left-40">
          <!-- <img
            src="/icons/calendar-icon.svg"
            alt="calender-icon"
            class="w-5 h-5"
          /> -->
        </div> 
        <input
          type="date"
          class="serach-items mt-3 left-52 ml-2 w-40"
          placeholder="checkin date"
        />
      </div>
      <div class="max-w-sm">
        <div class="item-icon left-40">
          <!-- <img
            src="/icons/calendar-icon.svg"
            alt="calender-icon"
            class="w-5 h-5"
          /> -->
        </div> 
        <input
          type="date"
          class="serach-items  ml-48 mt-2 w-40 "
          placeholder="checkout date"
        />
      </div>
      <div class="max-w-sm">
         <div class="item-icon right-72 mr-5 z-40">
           <img
            src="/icons/user-square-icon.svg"
            alt="user-icon"
            class="w-5 h-5"
          /> 
        </div> 
        <input
          type="number"
          class="serach-items mt-1 right-40 w-44"
          placeholder="Guests"
        />
      </div>
      <div class="max-w-sm">
         <div class="item-icon right-80 z-40 mr-44">
           <img
            src="/icons/single-bed-icon.svg"
            alt="room-icon"
            class="w-6 h-6"
          /> 
        </div> 
        <input
          type="number"
          class="serach-items right-80 mr-6 w-44 "
          placeholder="Rooms"
        />
      </div>
    </section>
    <div class="flex justify-end">
      <BaseButton class="btn-md">Search</BaseButton>
    </div>
  </section>
</template>

<script setup>
import { ref } from "vue";
import BaseButton from "./BaseButton.vue";


// const axios = require('axios');

// const options = {
//   method: 'GET',
//   url: 'https://booking-com15.p.rapidapi.com/api/v1/hotels/searchDestination',
//   params: {query: 'man'},
//   headers: {
//     'X-RapidAPI-Key': '52376defd6msh3441d55482b93b1p19d8fejsncdf3cc0f996d',
//     'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
//   }
// };

// try {
// 	const response = await axios.request(options);
// 	console.log(response.data);
// } catch (error) {
// 	console.error(error);
// }

</script>

<style scoped>
.search-position {
  @apply absolute bottom-8 left-40;
}
.search-style {
  @apply bg-booking-background w-9/12 h-20 rounded-lg text-center drop-shadow-md;
}
.serach-items {
  @apply  py-2 pl-8 h-11 absolute bg-light-gray outline-none rounded border-2 focus:border-booking-primary text-dark-gray font-WorkSans text-sm;
}
.item-icon {
  @apply absolute top-7 pointer-events-none;
}
.options {
  @apply font-WorkSans text-xs font-normal  text-dark-gray pl-6;
}
</style>