<template>
  <div class="text-center ml-96">
    <span class="text-center text-3xl font-semibold">
      <slot></slot>
    </span>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped></style>
