<template>
  <section>
    <div class="mt-10 ml-96">
        <label for="email" class="form-label"> Email address </label>
        <input type="email" name="email" id="email" class="form-input" />
      </div>
      <div class="mt-7 ml-96 mb-3 relative">
        <label for="password" class="form-label"> Password </label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-input"
        />
        <!-- <img src="/icons/eye-icon.svg" alt="eye icon" class="absolute mt-1"> -->
      </div>
      <div v-if="showConfirmPassword" class="mt-7 ml-96">
        <label for="confirm-password" class="form-label"> Confirm Password </label>
        <input
          type="password"
          name="confirm-password"
          id="confirm-password"
          class="form-input"
        />
      </div>
  </section>
</template>

<script setup>
defineProps({
  showConfirmPassword:{
    type: Boolean,
    required: false
  }
});


</script>

<style lang="scss" scoped>

</style>