<template>
  <div class="container">
    <Branding />
  </div>
  <form class="text-dark-gray font-Primary">
    <section class="grid row-span-5 gap-1 pl-32 w-96">
      <FormHeader>Sign in</FormHeader>
      <FormBody></FormBody>
      <div class="mt-7 ml-96">
        <BaseButton class="btn-lg">Sign in</BaseButton>
      </div>
      <FormFooter>
        <span>
          Don't have an account?
          <router-link :to="{ name: 'register' }" class="text-booking-primary">
            Register
          </router-link>
        </span>
      </FormFooter>
    </section>
  </form>
</template>

<script setup>
import { ref } from 'vue' 
import { RouterLink, useRoute } from "vue-router";
import Branding from "../app/modules/branding.vue";
import FormBody from "./modules/Form/FormBody.vue";
import BaseButton from "../app/modules/BaseButton.vue";
import FormHeader from "./modules/Form/FormHeader.vue";
import FormFooter from './modules/Form/FormFooter.vue';



</script>

<style scoped></style>
