<template>
  <div class="container">
    <Branding />
  </div>
  <form class="text-dark-gray font-Primary">
    <section class="grid row-span-5 gap-1 pl-32 w-96">
      <FormHeader>Register</FormHeader>
      <FormBody :showConfirmPassword="showConfirmPassword"></FormBody>
      <div class="mt-7 ml-96">
        <BaseButton class="btn-lg">Submit</BaseButton>
      </div>
      <FormFooter>
        <span>
          Already have an account?
          <router-link :to="{ name: 'login' }" class="text-booking-primary">
            Sign in
          </router-link>
        </span>
      </FormFooter>
    </section>
  </form>
</template>

<script setup>
import { ref } from 'vue' 
import { RouterLink, useRoute } from "vue-router";
import Branding from "../app/modules/branding.vue";
import FormBody from "./modules/Form/FormBody.vue";
import BaseButton from "../app/modules/BaseButton.vue";
import FormHeader from "./modules/Form/FormHeader.vue";
import FormFooter from "./modules/Form/FormFooter.vue";

const route = useRoute();
let showConfirmPassword = ref(false)

if (route.name === 'register')
  showConfirmPassword = true

</script>

<style scoped>

</style>
